@font-face {
	font-family: 'DIN'; 
	src: url('/fonts/dinpro.otf'); 
}
.page{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.page__container{
    min-width: 1408px;
}
.header{
    font-family: 'DIN', sans-serif;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1408px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu__list{
    width: 100%;
    display: inline-flex;
    gap: 36px;
    padding: 0;
}
.menu__item{
    list-style-type: none;
}
.menu__link{
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.menu__language{
    display: inline-flex;
    align-items: center;
}
.menu__language-selector{
    padding-left: 25px;
}
.header__button{
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    width: 200px;
    height: 60px;
    border: none;
    background-color: #5B6460;
}