@font-face {
	font-family: 'DIN'; 
	src: url(/fonts/dinpro.otf); 
}

.page{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page__container{
    min-width: 1408px;
}
.header{
    position: fixed;
    width: 80vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: #000;

}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu__list{
    width: 100%;
    display: inline-flex;
    gap: 36px;
    padding: 0;
}
.menu__item{
    list-style-type: none;
}
.menu__link{
    font-family: "DIN";
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.menu__language{
    display: inline-flex;
    align-items: center;
}
.menu__language-selector{
    padding-left: 25px;
}
.header__button{
    font-family: "DIN";
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    width: 200px;
    height: 60px;
    border: none;
    background-color: #5B6460;
}