@font-face {
	font-family: 'DIN'; 
	src: url('/fonts/dinpro.otf'); 
}
@font-face {
	font-family: 'Mulish'; 
	src: url('fonts/Mulish.ttf'); 
}
.page{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.page__container{
    width: 100%;
    max-width: 1408px;
}
.header-container{
    height: 100px;
}
.header{
    font-family: 'DIN', sans-serif;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1408px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 5;
}
.margin-left{
    margin-left: 150px;
}
.margin-right{
    margin-right: 32px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu__list{
    width: 100%;
    display: inline-flex;
    gap: 36px;
    padding: 0;
}
.menu__item{
    list-style-type: none;
}
.menu__link{
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}
.menu__language{
    display: inline-flex;
    align-items: center;
}
.menu__language-selector--padding-left{
    padding-left: 25px;
}
.menu__language-selector--nav{
    display: none;
}
.main-button{
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    width: 200px;
    height: 60px;
    border: none;
    background-color: #5B6460;
    cursor: pointer;
}
.main-button-link{
    display: flex;
    text-decoration: none;
}

.main{
    width: 100%;
    max-width: 1408px;
}
.slider__inner{
    position: relative;
    background-color: rgb(54, 54, 54);
}
.slider__content-container{
    height: 100%;
    width: 100%;
}
.slider__image{
    width: 100%;
    user-select: none;
    opacity: 0.6;
    display: block;
}
.slider__content{
    position: absolute;
    right: 0px;
    top: 85px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.slider__title{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 70px;
    font-weight: 300;
    line-height: 72px;
    margin: 0;
}
.slider__text{
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: 350px;
    margin: 34px 85px 0 0;
}

.slider__indicator-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.slider__indicator{
    background: #fff;
    opacity: 0.4;
    width: 2px;
    height: 10%;
    margin-left: 40px;
}
.slider__indicator--active{
    background: #fff;
    opacity: 1;
}
.slider__button{
    font-size: 18px;
    width: 263px;
    height: 100px;
}
.slider__button-container{
    position: absolute;
    left: 0px;
    bottom: -50px;
}
.main-button-container{
    display: flex;
}
.main-button__info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 120px;
    background: #E9ECE0;
}
.main-button__info-text{
    color: #000;
    width: 60px;
    font-size: 12px; 
    font-family: 'DIN', sans-serif;; 
    font-weight: 300; 
    line-height: 18px;
    margin: 0;
}
.main-button__info-text--bold{
    font-size: 20px;
    line-height: 15px;
}
.main-button__info-text--left{
    opacity: 0.8;
    text-align: left;
}
.main-button__info-text--right{
    opacity: 0.8;
    text-align: right;
}
.slider__buttons-indicators-container{
    position: absolute;
    bottom: 85px;
    right: 0;
    width: calc(50% + 32px);
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.slider__indicator-container--horizontally{
    position: static;
    height: 2px;
    width: 88px;
    flex-direction: row;
}
.slider__indicator--horizontally{
    margin: 0;
    width: 100%;
    height: 2px;
}
.slider__arrows-buttons{
    display: flex;
    justify-content: space-between;
    width: 115px;
    height: 15px;
}
.slider__arrow-button{
    cursor: pointer;
    padding: 0;
    user-select: none;
    background: none;
    border: none;
}
.slider__arrow--right{
    transform: scale(-1, -1);
}

.cabins{
    width: 100%;
}
.cabins__inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.cabins__main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 150px;
}
.main-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    max-width: 465px;
    margin-right: 40px;
}
.text-description{
    color: #5B6460;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
.text-description--italic{
    font-style: italic;
}
.description-title{
    font-size: 40px; 
    font-weight: 400; 
    line-height: 40px; 
}
.description-text{
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.link-description{
    font-weight: 600; 
    position: relative;
    text-decoration: none;
}
.link-description::after{
    position: absolute;
    bottom: 15px;
    content: '';
    background-color: #5B6460;
    width: 100%;
    height: 1px;
}
.cabins__main-image-container{
    width: 700px;
}
.cabins__main-image{
    bottom: 0;
    width: 100%;
}
.cabins__images-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 150px;
}
.cabins__image{
    width: 30%;
}
.forest{
    display: flex;
    justify-content: space-between;
    min-height: 650px;
}
.forest__map-container{
    position: relative;
    width: 50%;
}
.forest__description-container{
    background: rgba(233, 236, 224, 1);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forest__map{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 68, 62, 1);
}

.forest__map:hover, .forest__map:hover .forest__map-frame{
    background-color: none;
    opacity: 1;
}

.forest__map-frame{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    transition: all 0.4s ease
}
.forest__here-container{
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    z-index: 2;
}

.forest__map:hover .forest__here-container{
    opacity: 0;
    z-index: 0;
}

.forest__here{
    border-radius: 100%;
    position: absolute;
    background: white;
    opacity: 1;
}
.forest__here--third{
    width: 176px;
    height: 176px;
    opacity: 0.2;
    z-index: 1;
    top: calc(50% - 176px/2);
    left: calc(50% - 176px/2);
}
.forest__here--second{
    width: 134px;
    height: 134px;
    opacity: 0.4;
    z-index: 2;
    top: calc(50% - 134px/2);
    left: calc(50% - 134px/2);
}
.forest__here--first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    opacity: 1;
    z-index: 2;
    top: calc(50% - 96px/2);
    left: calc(50% - 96px/2);
}
.forest__here-text, .round-button-text{
    width: 71px; 
    text-align: center; 
    color: #333333; 
    font-size: 12px; 
    font-family: 'DIN', sans-serif;; 
    font-weight: 300; 
    text-transform: uppercase;
}
.facilities{
    font-family: 'Open Sans', sans-serif;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgba(91, 100, 96, 1);
    color: white;
}
.facilities__title-text{
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.facilities__main-container{
    width: 850px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
    margin-bottom: 100px;
}
.facilities__item{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.facilities__item-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 144px;
    text-align: center;
}
.about-us{
    max-height: 559px;
    width: 100%;
    position: relative;
    max-width: 1408px;
    display: flex;
}
.about-us__image-cont{
    
    width: 50%;
}
.about-us__image-cont--first{
    position: relative;
}
.about-us__image--first{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.about-us__image--second{
    position: relative;
    width: 100%;
    height: 100%;
}
.about-us__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 157px;
    left: calc(50% - 157px/2);
    top: calc(50% - 157px/2);
    border-radius: 100%;
    background: #E9ECE0;
    position: absolute;
    text-decoration: none;
    z-index: 1;
}
.about-us-button-text{
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    text-align: center;  
}
.stay{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    max-width: 1408px;
}
.stay__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1100px;
    width: 80%;
}
.stay__text-title{
    margin-bottom: 50px;
}
.stay__text--without-margins{
    margin: 0;
}
.stay__text-container{
    display: flex;
    flex-direction: column;
}
.stay__link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-top: 50px;
    background: rgba(91, 100, 96, 1);
    width: 50px;
    height: 50px;
}
.stay__links-container{
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.stay__button, .stay__button-info{
    height: 100px;
}
.stay__button{
    font-size: 18px;
    width: 268px;
}
.stay__image{
    width: 100%;
}
.stay__button-container{
    display: flex;
    flex-direction: column;
}
.stay__text{
    width: fit-content;
    text-decoration: none;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    max-width: 1408px;
    width: 100%;
    background: #5B6460;
}
.footer-text{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.footer-text--bold{
    font-weight: 600;
}
.footer-text--low{
    font-size: 14px;
}
.footer-text--dim{
    opacity: 0.6;
}
.footer-text--italic{
    font-style: italic;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    min-height: 280px;
    max-width: 1100px;
    width: 80%;
}
.footer__form-container{
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__input{
    width: 100%;
    background: none;
    color: white;
    border: none;
}
.footer__input:focus{
    border: none;
    outline: none;
}
::-webkit-input-placeholder{
    color:white
}
.footer__input{
    padding: 0;
}
.footer__form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer__form::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: white;
    bottom: 0;
    left: 0;
    opacity: 0.6;
}
.footer__submit-button{
    background-image: url('img/arrow.svg');
    background-color: transparent;
    border: none;
    width: 35px;
    cursor: pointer;
    transform: scale(-1, -1);
}
.footer__links-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 480px;
}
.footer__main-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__links{
    text-decoration: none;
}
.footer__payment-methods{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}
.burger {
  cursor: pointer;
  display: none;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;

}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}